In [24]:
import numpy as np
import pandas as pd

In [25]:
data = pd.read_csv('Total-Employment.csv')

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [26]:
data.head()

,Country or Area,Year,Sex,Classification,Subclassification,Source,SourceID,Value,Value Footnotes
0,Albania,2006,Total men and women,ISIC-Rev.3,Total.,Official estimates,# 0,935.0,NaN
1,Albania,2006,Total men and women,ISIC-Rev.3,A-B.,Official estimates,# 0,542.0,NaN
2,Albania,2006,Total men and women,ISIC-Rev.3,C. Mining and Quarrying,Official estimates,# 0,5.0,NaN
3,Albania,2006,Total men and women,ISIC-Rev.3,D. Manufacturing,Official estimates,# 0,58.0,NaN
4,Albania,2006,Total men and women,ISIC-Rev.3,"E. Electricity, Gas and Water Supply",Official estimates,# 0,10.0,NaN

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100253 entries, 0 to 100252
Data columns (total 9 columns):
Country or Area      100253 non-null object
Year                 100253 non-null object
Sex                  100000 non-null object
Classification       100000 non-null object
Subclassification    100000 non-null object
Source               100000 non-null object
SourceID             100000 non-null object
Value                100000 non-null float64
Value Footnotes      97419 non-null object
dtypes: float64(1), object(8)
memory usage: 6.9+ MB

In [28]:
data.nunique()

Country or Area        411
Year                   331
Sex                      3
Classification           5
Subclassification      109
Source                   7
SourceID                 4
Value                40167
Value Footnotes        463
dtype: int64

In [29]:
data['Country or Area'].nunique()

411

In [30]:
vals = data['Value']

In [31]:
da = data[vals.isna()]

In [32]:
da.head(2)

,Country or Area,Year,Sex,Classification,Subclassification,Source,SourceID,Value,Value Footnotes
100000,footnoteSeqID,Footnote,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100001,1,Sep. of each year.,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
data = data[0:100000]

In [34]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 9 columns):
Country or Area      100000 non-null object
Year                 100000 non-null object
Sex                  100000 non-null object
Classification       100000 non-null object
Subclassification    100000 non-null object
Source               100000 non-null object
SourceID             100000 non-null object
Value                100000 non-null float64
Value Footnotes      97419 non-null object
dtypes: float64(1), object(8)
memory usage: 6.9+ MB

In [35]:
data.drop(columns=['Value Footnotes'],inplace=True)

In [36]:
data.head()

,Country or Area,Year,Sex,Classification,Subclassification,Source,SourceID,Value
0,Albania,2006,Total men and women,ISIC-Rev.3,Total.,Official estimates,# 0,935.0
1,Albania,2006,Total men and women,ISIC-Rev.3,A-B.,Official estimates,# 0,542.0
2,Albania,2006,Total men and women,ISIC-Rev.3,C. Mining and Quarrying,Official estimates,# 0,5.0
3,Albania,2006,Total men and women,ISIC-Rev.3,D. Manufacturing,Official estimates,# 0,58.0
4,Albania,2006,Total men and women,ISIC-Rev.3,"E. Electricity, Gas and Water Supply",Official estimates,# 0,10.0

In [37]:
data.nunique()

Country or Area        158
Year                    80
Sex                      3
Classification           5
Subclassification      109
Source                   7
SourceID                 4
Value                40167
dtype: int64

In [40]:
list_unique_countries = data['Country or Area'].unique()

In [62]:
list_unique_countries

array(['Albania', 'Algeria', 'American Samoa', 'Angola', 'Anguilla',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize',
       'Bermuda', 'Bhutan', 'Bolivia', 'Botswana', 'Brazil',
       'Brunei Darussalam', 'Bulgaria', 'Cambodia', 'Cameroon', 'Canada',
       'Cayman Islands', 'Chile', 'China', 'Colombia', 'Costa Rica',
       'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Czechoslovakia',
       'Denmark', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Estonia', 'Ethiopia',
       'Faeroe Islands', 'Fiji', 'Finland', 'France', 'French Polynesia',
       'Gabon', 'Georgia', 'Germany',
       'Germany, Fed. Rep. of before 3.10.1990',
       'Germany, The former German Dem. Rep.', 'Gibraltar', 'Greece',
       'Grenada', 'Guadeloupe', 'Guatemala', 'Guyana', 'Haiti',
       'Honduras', 'Hong Kong, China', 'Hungary', 'Iceland', 'Indonesia',
       'Iran, Islamic Rep. of', 'Ireland', 'Isle of Man', 'Israel',
       'Italy', 'Jamaica', 'Japan', 'Jersey', 'Kazakhstan', 'Kiribati',
       'Korea, Republic of', 'Kuwait', 'Kyrgyzstan', 'Latvia', 'Lesotho',
       'Libyan Arab Jamahiriya', 'Lithuania', 'Luxembourg',
       'Macau, China', 'Macedonia, The former Yugoslav Rep. of',
       'Madagascar', 'Malaysia', 'Malaysia: Peninsular Malaysia',
       'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Martinique',
       'Mauritius', 'Mexico', 'Moldova, Republic of', 'Mongolia',
       'Montenegro', 'Montserrat', 'Morocco', 'Myanmar', 'Namibia',
       'Nepal', 'Netherlands', 'Netherlands Antilles', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Nigeria', 'Niue',
       'Northern Mariana Islands', 'Norway', 'Oman', 'Pakistan', 'Palau',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Poland', 'Portugal', 'Puerto Rico', 'Qatar', 'Romania',
       'Russian Federation', 'Saint Helena', 'Saint Kitts and Nevis',
       'Saint Lucia', 'Saint Pierre and Miquelon', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'South Africa', 'Spain', 'Sri Lanka', 'Suriname', 'Sweden',
       'Switzerland', 'Syrian Arab Republic', 'Tajikistan',
       'Tanzania (Tanganyika)', 'Tanzania, United Republic of',
       'Thailand', 'Tonga', 'Trinidad and Tobago'], dtype=object)

In [41]:
len(list_unique_countries)

158

In [42]:
list_years =data['Year'].unique()

In [43]:
len(list_years)

80

In [44]:
list_years

array([2006, 2005, 2004, 2003, 2002, 2001, 2000, 1999, 1998, 1997, 1996,
       1995, 1994, 1993, 1987, 1985, 1984, 1983, 1982, 1981, 1980, 1979,
       1978, 1977, 1976, 1975, 1974, 1973, 1972, 1971, 1990, 1992, 2008,
       2007, 1970, 1991, 1989, 1988, 1986, 1969, '2003', '2002', '2001',
       '2000', '1999', '1998', '1997', '1996', '1995', '1994', '1993',
       '1992', '1991', '1990', '1989', '1988', '1987', '1986', '1985',
       '1984', '1983', '1982', '1981', '1980', '1979', '1978', '1977',
       '1976', '1975', '1974', '1973', '1972', '1971', '1970', '1969',
       '2008', '2007', '2006', '2005', '2004'], dtype=object)

In [54]:
data_2006['Year'].dtype

dtype('O')

In [55]:
data['Year'] = pd.to_numeric(data['Year'])

In [56]:
data['Year'].dtype

dtype('int64')

In [58]:
fgfd = data['Year'].unique()

In [59]:
len(fgfd)

40

In [60]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 8 columns):
Country or Area      100000 non-null object
Year                 100000 non-null int64
Sex                  100000 non-null object
Classification       100000 non-null object
Subclassification    100000 non-null object
Source               100000 non-null object
SourceID             100000 non-null object
Value                100000 non-null float64
dtypes: float64(1), int64(1), object(6)
memory usage: 6.1+ MB

In [61]:
data.nunique()

Country or Area        158
Year                    40
Sex                      3
Classification           5
Subclassification      109
Source                   7
SourceID                 4
Value                40167
dtype: int64

In [63]:
subclass = data.Subclassification.unique()

In [65]:
subclass

array(['Total.', 'A-B.', 'C. Mining and Quarrying', 'D. Manufacturing',
       'E. Electricity, Gas and Water Supply', 'F. Construction',
       'G. Wholesale and Retail Trade; Repair of Motor Vehicles, Motorcycles and Personal and Household Goods',
       'H. Hotels and Restaurants',
       'I. Transport, Storage and Communications', 'J-L,O-Q.',
       'M. Education', 'N. Health and Social Work',
       'A. Agriculture, Hunting and Forestry', 'B. Fishing',
       'J. Financial Intermediation',
       'K. Real Estate, Renting and Business Activities',
       'L. Public Administration and Defence; Compulsory Social Security',
       'P. Households with Employed Persons',
       'Q. Extra-Territorial Organizations and Bodies',
       'X. Not classifiable by economic activity',
       'O. Other Community,Social and Personal Service Activities',
       '2-9.', '1.', '3.', '5.', '6.', '7.', '9.', '0.',
       '1. Agriculture, Hunting, Forestry and Fishing',
       '2. Mining and Quarrying', '3. Manufacturing',
       '4. Electricity, Gas and Water', '5. Construction',
       '6. Wholesale and Retail Trade and Restaurants and Hotels',
       '7. Transport, Storage and Communication',
       '8. Financing, Insurance, Real Estate and Business Services',
       '9. Community, Social and Personal Services',
       '0. Activities not Adequately Defined', 'A-C.', 'J-K.', 'M-N.',
       'C-Q.', 'C,E.', 'L-P.', 'L-O.', 'P-Q.', 'Q-X.', 'O-X.', 'O-P.',
       'A. Agriculture, forestry and fishing', 'B. Mining and quarrying',
       'C. Manufacturing',
       'D. Electricity, gas, steam and air conditioning supply',
       'E. Water supply; sewerage, waste management and remediation activities',
       'G. Wholesale and retail trade; repair of motor vehicles and motorcycles',
       'H. Transportation and storage',
       'I. Accommodation and food service activities',
       'J. Information and communication',
       'K. Financial and insurance activities',
       'L. Real estate activities',
       'M. Professional, scientific and technical activities',
       'N. Administrative and support service activities',
       'O. Public administration and defence; compulsory social security',
       'P. Education', 'Q. Human health and social work activities',
       'R. Arts, entertainment and recreation', 'S-U.', 'O-Q.', 'C-D.',
       'L,O.', 'K,M-N.', 'G-H.', 'N-O.', '2-4.', '2.', '4.', '8.',
       'S. Other service activities',
       'T. Activities of households as employers; undifferentiated goods- and services-producing activities of households for own use',
       'U. Activities of extraterritorial organizations and bodies',
       '1-9.', '0. Agriculture, forestry, hunting and fishing',
       '1. Mining and quarrying', '2-3. Manufacturing',
       '5. Electricity, gas, water and sanitary services', '6. Commerce',
       '7. Transport, storage and communication', '8. Services',
       '9. Activities not adequately described', 'C,F.', 'M-O.', 'C-E.',
       'G-I.', '4. Construction', 'L-Q.', '6-8.', 'J-Q.', 'M-Q.', '9-0.',
       'P-X.', 'L-N.', 'A,B,D,E.', 'R-U.', 'A-C,E,X.', 'L,M.', 'O,Q.',
       'L,Q.', '8-9.'], dtype=object)

In [66]:
data['Subclassification'] = data['Subclassification'].str.lower()

In [67]:
data.nunique()

Country or Area        158
Year                    40
Sex                      3
Classification           5
Subclassification      108
Source                   7
SourceID                 4
Value                40167
dtype: int64

In [68]:
subclass = data.Subclassification.unique()

In [69]:
subclass

array(['total.', 'a-b.', 'c. mining and quarrying', 'd. manufacturing',
       'e. electricity, gas and water supply', 'f. construction',
       'g. wholesale and retail trade; repair of motor vehicles, motorcycles and personal and household goods',
       'h. hotels and restaurants',
       'i. transport, storage and communications', 'j-l,o-q.',
       'm. education', 'n. health and social work',
       'a. agriculture, hunting and forestry', 'b. fishing',
       'j. financial intermediation',
       'k. real estate, renting and business activities',
       'l. public administration and defence; compulsory social security',
       'p. households with employed persons',
       'q. extra-territorial organizations and bodies',
       'x. not classifiable by economic activity',
       'o. other community,social and personal service activities',
       '2-9.', '1.', '3.', '5.', '6.', '7.', '9.', '0.',
       '1. agriculture, hunting, forestry and fishing',
       '2. mining and quarrying', '3. manufacturing',
       '4. electricity, gas and water', '5. construction',
       '6. wholesale and retail trade and restaurants and hotels',
       '7. transport, storage and communication',
       '8. financing, insurance, real estate and business services',
       '9. community, social and personal services',
       '0. activities not adequately defined', 'a-c.', 'j-k.', 'm-n.',
       'c-q.', 'c,e.', 'l-p.', 'l-o.', 'p-q.', 'q-x.', 'o-x.', 'o-p.',
       'a. agriculture, forestry and fishing', 'b. mining and quarrying',
       'c. manufacturing',
       'd. electricity, gas, steam and air conditioning supply',
       'e. water supply; sewerage, waste management and remediation activities',
       'g. wholesale and retail trade; repair of motor vehicles and motorcycles',
       'h. transportation and storage',
       'i. accommodation and food service activities',
       'j. information and communication',
       'k. financial and insurance activities',
       'l. real estate activities',
       'm. professional, scientific and technical activities',
       'n. administrative and support service activities',
       'o. public administration and defence; compulsory social security',
       'p. education', 'q. human health and social work activities',
       'r. arts, entertainment and recreation', 's-u.', 'o-q.', 'c-d.',
       'l,o.', 'k,m-n.', 'g-h.', 'n-o.', '2-4.', '2.', '4.', '8.',
       's. other service activities',
       't. activities of households as employers; undifferentiated goods- and services-producing activities of households for own use',
       'u. activities of extraterritorial organizations and bodies',
       '1-9.', '0. agriculture, forestry, hunting and fishing',
       '1. mining and quarrying', '2-3. manufacturing',
       '5. electricity, gas, water and sanitary services', '6. commerce',
       '8. services', '9. activities not adequately described', 'c,f.',
       'm-o.', 'c-e.', 'g-i.', '4. construction', 'l-q.', '6-8.', 'j-q.',
       'm-q.', '9-0.', 'p-x.', 'l-n.', 'a,b,d,e.', 'r-u.', 'a-c,e,x.',
       'l,m.', 'o,q.', 'l,q.', '8-9.'], dtype=object)